# Entornos virtuales
venv/
.venv/
.env/

# Pycache y archivos de compilación
__pycache__/
*.pyc

# Archivos de configuración de IDEs
.idea/

# Logs y temporales
*.log

# Archivos de entorno
*.env

# Archivos de VSCode 
.vscode/

